@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@utility container {
  @apply mx-auto w-full max-w-xl px-4 sm:px-6 lg:max-w-4xl lg:px-8;
}

@theme inline {
  --font-sans: 'Roboto', sans-serif;
  /* --font-mono: 'Roboto Mono', monospace;  */

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-x1: color-mix(in oklch, var(--primary), var(--background) 60%);
  --color-x2: color-mix(in oklch, var(--secondary), var(--background) 60%);
  --color-y1: color-mix(in oklch, var(--primary), var(--y) 40%);

  --drop-shadow-btn: 1.618px 8.09px 12.944px var(--color-x1); /* 1:5:7 ratio of 1.618 */
  --drop-shadow-btn2: 1.618px 8.09px 12.944px var(--color-x2); /* 1:5:7 ratio of 1.618 */
}

:root {
  --radius: 0.65rem;

  --y: black;

  --background: oklch(0.98 0.0274 261.69);
  --foreground: oklch(0.1296 0.0274 261.69);

  --card: oklch(0.98 0.0274 261.69);
  --card-foreground: oklch(0.1296 0.0274 261.69);

  --popover: oklch(0.98 0.0274 261.69);
  --popover-foreground: oklch(0.1296 0.0274 261.69);

  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);

  --secondary: oklch(0.967 0.001 262.375);
  --secondary-foreground: oklch(0.21 0.0274 261.69);

  --muted: oklch(0.967 0.001 262.375);
  --muted-foreground: oklch(0.552 0.016 261.938);

  --accent: oklch(0.967 0.001 262.375);
  --accent-foreground: oklch(0.21 0.0274 261.69);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.92 0.0274 261.69);
  --input: oklch(0.92 0.0274 261.69);
  --ring: oklch(0.708 0.0174 261.69);

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.1296 0.0274 261.69);

  --sidebar-primary: oklch(0.546 0.245 262.881);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);

  --sidebar-accent: oklch(0.967 0.001 262.375);
  --sidebar-accent-foreground: oklch(0.21 0.0274 261.69);

  --sidebar-border: oklch(0.92 0.0274 261.69);
  --sidebar-ring: oklch(0.708 0.0174 261.69);
}

.dark {
  --y: white;

  --background: oklch(0.1296 0.0274 261.69);
  --foreground: oklch(0.985 0 0);

  --card: oklch(0.21 0.0274 261.69);
  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.21 0.0274 261.69);
  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.488 0.243 264.376);
  --primary-foreground: oklch(0.97 0.014 254.604);

  --secondary: oklch(0.274 0.006 262.033);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.274 0.006 262.033);
  --muted-foreground: oklch(0.705 0.015 262.067);

  --accent: oklch(0.274 0.006 262.033);
  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0.0274 261.69 / 10%);
  --input: oklch(1 0.0274 261.69 / 15%);
  --ring: oklch(0.556 0.0174 261.69);

  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);

  --sidebar: oklch(0.21 0.0274 261.69);
  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.623 0.214 259.815);
  --sidebar-primary-foreground: oklch(0.97 0.014 254.604);

  --sidebar-accent: oklch(0.274 0.006 262.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0.0274 261.69 / 10%);
  --sidebar-ring: oklch(0.439 0.0174 261.69);
}

@layer base {
  * {
    @apply border-border outline-ring/50 transition-colors duration-160;
  }

  html {
    scroll-behavior: smooth;
  }

  * {
    scrollbar-width: thin;
  }

  body {
    @apply bg-background font-sans text-foreground antialiased;
    max-width: 100vw;
    min-height: 100vh;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
  }
}
